jupyter==1.0.0
matplotlib==3.1.1
scipy==1.3.0
pandas==0.25.0
numpy==1.22.0
Scrapy==1.7.3
googlemaps==3.0.2
tweepy==3.8.0
sklearn==0.0
sympy==1.5.1
seaborn==0.9.0
networkx==2.3
python-louvain==0.13
pyglet==1.4.1
line_profiler
flake8
pycodestyle_magic
